@model IEnumerable<PizzaDeliveryManagement.Models.Menu>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container pTop">
 

    @foreach(var item in Model)
    {
        <div class="col-md-4" style="border: 2px solid black">
            <div style="text-align: center; border-bottom: 2px solid maroon">
                <h3>@item.PizzaName | @item.PizzaSize.Size | $@item.Price </h3>
                <a asp-controller="cart" asp-action="AddToCart" asp-route-id="@item.MenuId" class="btn btn-outline-warning"> Add To Cart</a>

            </div>
        </div>
        <br />
        

    }
    
</div>

